html, body {
    margin: 0;
    height: 100%;
    font-family: Helvetica;
}

body {
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lengthContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}

.timeAdjustDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.timeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

